<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="crew">

	<!-- 전체 모임 목록 조회 -->
    <select id="selectList" resultType="CrewVO">
        SELECT
            crew_no,
            crew_name,
            crew_category,
            crew_location,
            crew_limit,
            crew_intro
        FROM crew
        ORDER BY crew_no DESC
    </select>
    
    <select id="selectLike" resultType="CrewLikeDto">
    	select * from crew_like
    	where member_id = #{memberNo}
    	and crew_no = #{crewNo}
    </select>
    
    <insert id="updateLike">
    	insert into crew_like (
    		member_id, crew_no
    	) values (
    		#{memberNo}, #{crewNo}
    	)
    </insert>
    
    <delete id="deleteLike">
    	delete crew_like
    	where member_id = #{memberNo}
    	and crew_no = #{crewNo}
    </delete>
    
    <select id="selectSearch" resultType="CrewDto">
    	select * from crew 
    	where crew_category = #{category}
    	and crew_location = #{location}
    	<if test='keyword != "" and keyword != null'>
    		and instr(category_name, #{keyword}) > 0
    	</if>
    </select>

    <!-- 특정 모임 상세 조회 -->
    <select id="selectOne" resultType="CrewVO" parameterType="long">
        SELECT
            crew_no,
            crew_name,
            crew_category,
            crew_location,
            crew_limit,
            crew_intro
        FROM crew
        WHERE crew_no = #{crewNo}
    </select>
	
	<select id="find" resultType="CrewDto">
		select * from crew 
		where crew_no = #{crewNo}
	</select>
	
	<select id="sequence" resultType="long">
		select crew_seq.nextval from dual
	</select>
	
    <!-- 모임 등록 -->
    <insert id="insert" parameterType="CrewDto">
	    insert into crew (
	        crew_no,
	        crew_name,
	        crew_category,
	        crew_location,
	        crew_limit,
	        crew_intro
	    ) VALUES (
	        #{crewNo},
	        #{crewName},
	        #{crewCategory},
	        #{crewLocation},
	        #{crewLimit},
	        #{crewIntro}
	    )
	</insert>
	<!--
		useGeneratedKeys="true": DB가 생성한 key 값을 반환받겠다
		keyProperty="crewNo": 그 값을 CrewDto의 crewNo 필드에 주입하겠다는 뜻
	-->
	
	<select id="selectLikedCrew" resultType="CrewDto">
		select * from crew
		where crew_category in 
		<foreach collection="list" item="memberLike" open="(" separator="," close=")">
			#{memberLike}
		</foreach>
	</select>

    <!-- 모임 수정 -->
    <update id="update" parameterType="CrewDto">
        UPDATE crew
        SET crew_name = #{crewName},
            crew_category = #{crewCategory},
            crew_location = #{crewLocation},
            crew_limit = #{crewLimit},
            crew_intro = #{crewIntro}
        WHERE crew_no = #{crewNo}
    </update>

    <!-- 모임 삭제 -->
    <delete id="delete" parameterType="long">
        DELETE FROM crew
        WHERE crew_no = #{crewNo}
    </delete>

    <select id="findImage" resultType="long">
    	select attachment_no from crew_image
    	where crew_no = #{crewNo}
    </select>
    <!-- 이미지 -->
    <insert id="connect">
	    insert into crew_image (crew_no, attachment_no)
	    values (#{crewNo}, #{attachmentNo})
	</insert>

</mapper>
