<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="crew">

    <!-- 전체 모임 목록 조회 -->
    <select id="selectList" resultType="CrewVO">
        SELECT
            crew_no,
            crew_name,
            crew_category,
            crew_location,
            crew_limit,
            crew_intro
        FROM crew
        ORDER BY crew_no DESC
    </select>
    
    <select id="selectLike" resultType="CrewLikeDto">
        select * from crew_like
        where member_id = #{memberNo}
        and crew_no = #{crewNo}
    </select>
    
    <insert id="updateLike">
        insert into crew_like (
            member_id, crew_no
        ) values (
            #{memberNo}, #{crewNo}
        )
    </insert>
    
    <delete id="deleteLike">
        delete from crew_like
        where member_id = #{memberNo}
        and crew_no = #{crewNo}
    </delete>
    
    <select id="selectSearch" resultType="CrewDto">
        select * from crew 
        where crew_location = #{location}
        <if test='category != "전체"'>
        	and crew_category = #{category}
        </if>
        <if test='keyword != "" and keyword != null'>
            and instr(crew_name, #{keyword}) > 0
        </if>
    </select>


    <!-- 특정 모임 상세 조회 -->
    <select id="selectOne" resultType="CrewDto" parameterType="long">
        SELECT
            crew_no,
            crew_name,
            crew_category,
            crew_location,
            crew_limit,
            crew_intro
        FROM crew
        WHERE crew_no = #{crewNo}
    </select>

    <select id="find" resultType="CrewDto">
        select * from crew 
        where crew_no = #{crewNo}
    </select>

    <select id="sequence" resultType="long">
        select crew_seq.nextval from dual
    </select>
    
    <!-- 모임 등록 -->
    <insert id="insert" parameterType="CrewDto">
        insert into crew (
            crew_no,
            crew_name,
            crew_category,
            crew_location,
            crew_limit,
            crew_intro
        ) VALUES (
            #{crewNo},
            #{crewName},
            #{crewCategory},
            #{crewLocation},
            #{crewLimit},
            #{crewIntro}
        )
    </insert>

    <select id="selectLikedCrew" resultType="CrewDto">
        select * from crew
        where crew_category in
<!--         where crew_no in -->
        <foreach collection="list" item="memberLike" open="(" separator="," close=")">
<!--         <foreach collection="list" item="crewNo" open="(" separator="," close=")"> -->
            #{memberLike}
<!--             #{crewNo} -->
        </foreach>
    </select>

    <!-- 모임 수정 -->
    <update id="update" parameterType="CrewDto">
        UPDATE crew
        SET crew_name = #{crewName},
            crew_category = #{crewCategory},
            crew_location = #{crewLocation},
            <!--crew_limit = #{crewLimit},-->
            crew_intro = #{crewIntro}
        WHERE crew_no = #{crewNo}
    </update>

    <!-- 모임 삭제 -->
    <delete id="delete" parameterType="long">
        DELETE FROM crew
        WHERE crew_no = #{crewNo}
    </delete>

    <select id="findImage" resultType="long">
        select attachment_no from crew_image
        where crew_no = #{crewNo}
    </select>
    
    <!-- 이미지 연결 -->
    <insert id="connect">
        insert into crew_image (crew_no, attachment_no)
        values (#{crewNo}, #{attachmentNo})
    </insert>
    
   <!-- <select id="selectJoinedCrews" resultType="CrewDto">
		select
		c.crew_no as crewNo,
		c.crew_name as crewName,
		c.crew_category as crewCategory,
		c.crew_location as crewLocation,
		(select count(*) from crew_member where crew_no = c.crew_no) as
		memberCount,
		nvl(ci.attachment_no, 0) as crewImageUrl
		from crew c
		left join crew_image ci on c.crew_no = ci.crew_no
		where c.crew_no in (
		select crew_no
		from crew_member
		where member_no = #{memberNo}
		)
	</select>-->
	
	<select id="selectjoinedcrews" resultType="crewdto">
		select
		c.crew_no as crewno,
		c.crew_name as crewname,
		c.crew_category as crewcategory,
		c.crew_location as crewlocation,
		c.crew_limit as crewlimit,
		c.crew_intro as crewintro,
		(select count(*) from crew_member cm where cm.crew_no = c.crew_no) as
		membercount
		from crew c
		where c.crew_no in (
		select crew_no from crew_member where member_no = #{memberno}
		)
	</select>

    <select id="selectCrewName" resultType="String">
    	select crew_name from crew
    	where crew_no = #{crewNo}
    </select>

</mapper>