<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="crewmember">

	<select id="selectMemberCnt" resultType="long">
		select count(*) from crew_member
		where crew_no = #{crewNo}
	</select>

	<!-- 모임 가입 처리 -->
	<select id="sequence" resultType="long">
		select crew_member_seq.nextval from dual
	</select>

	<!--<insert id="join" parameterType="CrewMemberDto"> 
		insert into crew_member (
			crew_member_no, 
			crew_no, member_no, 
			join_date, 
			leader 
		) values (
			#{crewMemberNo}, 
			#{crewNo}, 
			#{memberNo}, 
			#{joinDate}, 
			<choose>
				<when test="leader == true"> 'Y' </when>
				<otherwise> 'N' </otherwise>
			</choose> 
		) 
	</insert>-->
	<insert id="join" parameterType="CrewMemberDto">
		insert into crew_member (
		crew_member_no,
		crew_no,
		member_no,
		join_date,
		leader
		)
		values (
		#{crewMemberNo},
		#{crewNo},
		#{memberNo},
		#{joinDate},
		CASE WHEN #{leader} = 'Y' THEN 'Y' ELSE 'N' END
		)
	</insert>


	<!-- 모임 탈퇴 처리  -->
	<delete id="leave" parameterType="CrewMemberDto">
		delete from crew_member
		where crew_no = #{crewNo}
		and member_no = #{memberNo}
	</delete>

	<!-- 모임장 여부 확인 -->
	<!--<select id="isLeader" parameterType="CrewMemberDto" resultType="boolean">
		select 
        	case when count(*) > 0 then 1 else 0 end
    	from crew_member
		where crew_no = #{crewNo}
		and member_no = #{memberNo}
		and leader = 'Y'
	</select>-->
	<!--<select id="isLeader" parameterType="CrewMemberDto" resultType="boolean">
		select
		leader = 'Y'
		from crew_member
		where crew_no = #{crewNo}
		and member_no = #{memberNo}
	</select>-->
	<select id="isLeader" parameterType="CrewMemberDto" resultType="boolean">
		select
		case when leader = 'Y' then 1 else 0 end as isLeader
		from crew_member
		where crew_no = #{crewNo}
		and member_no = #{memberNo}
	</select>


	<!-- 모임 가입 여부 확인 -->
	<select id="isMember" parameterType="CrewMemberDto" resultType="boolean">
		select 
        	case when count(*) > 0 then 1 else 0 end
    	from crew_member
		where crew_no = #{crewNo}
		and member_no = #{memberNo}
	</select>

	<!-- 특정 모임의 전체 회원 목록 -->
	<select id="selectListByCrew" parameterType="long" resultType="CrewMemberVO">
		select
		crew_member.crew_no as crewNo,
		crew_member.member_no as memberNo,
		crew_member.join_date as joinDate,
		crew_member.leader as leader,
		<!--crew_member.join_message as joinMessage,-->
		member.member_nickname as nickname,
		member.member_birth as birth,
		member.member_mbti as mbti,
		member.member_location as location
		from crew_member
		left join member on crew_member.member_no = member.member_no
		where crew_member.crew_no = #{crewNo}
		order by crew_member.join_date desc
	</select>


	<!-- 모임장에 의한 강퇴 -->
	<delete id="kick" parameterType="CrewMemberDto">
		delete from crew_member
		where crew_no = #{crewNo}
		and member_no = #{memberNo}
	</delete>

	<select id="findCreated" resultType="long">
		select crew_no from crew_member
		where member_no = #{memberNo}
		and leader = 'Y'
		order by join_date desc
	</select>

	<select id="findJoined" resultType="long">
		select crew_no from crew_member
		where member_no = #{memberNo}
		and leader = 'N'
		order by join_date desc
	</select>

	<select id="findLiked" resultType="long">
		select crew_no from crew_like
		where member_id = #{memberNo}
	</select>
	
	<select id="getMemberCount" parameterType="long" resultType="long">
    	select count(*) 
    	from crew_member 
    	where crew_no = #{crewNo}
	</select>
	
	<!-- 모임장 memberNo 조회 -->
	<select id="findLeaderMemberNo" resultType="long">
		select member_no
		from crew_member
		where crew_no = #{crewNo}
		and leader = 'Y'
	</select>
	
</mapper>
