<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="meetingMember">

    <!-- 시퀀스 발급 -->
	<select id="sequence" resultType="long">
	  SELECT meeting_member_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 정모 참여 등록 -->
	<insert id="insert" parameterType="MeetingMemberDto">
	  INSERT INTO meeting_member (
	    meeting_member_no,
	    meeting_no,
	    member_no,
	    is_leader
	  ) VALUES (
	    #{meetingMemberNo},
	    #{meetingNo},
	    #{memberNo},
	    #{isLeader}
	  )
	</insert>
	
	<!-- 정모 참여 취소 -->
	<delete id="delete">
	  DELETE FROM meeting_member
	  WHERE meeting_no = #{meetingNo} AND member_no = #{memberNo}
	</delete>
	
	<!-- 정모 참여자 목록 + 모임장 여부 조회 -->
    <select id="selectListByMeetingNo" resultType="MeetingMemberVO">
	  SELECT
	    m.member_no,
	    m.member_nickname,
	    mp.attachment_no AS attachment_no,
	    mm.is_leader
	  FROM meeting_member mm
	  JOIN member m ON mm.member_no = m.member_no
	  LEFT JOIN member_profile mp ON m.member_no = mp.member_no
	  WHERE mm.meeting_no = #{meetingNo}
	  ORDER BY 
	    CASE WHEN mm.is_leader = 'Y' THEN 0 ELSE 1 END, 
	    mm.meeting_member_join_date 
	</select>

	
	<!-- 정모 참여자 목록에 로그인한 유저가 있는지 확인 -->
	<select id="isJoined" resultType="int">
	  SELECT COUNT(*)
	  FROM meeting_member
	  WHERE meeting_no = #{meetingNo}
	    AND member_no = #{memberNo}
	</select>
	
	<!-- 정모 모임장 위임 -->
	<update id="updateLeaderStatus">
	    UPDATE meeting_member
	    SET is_leader = CASE
	        WHEN member_no = #{newOwnerNo} THEN 'Y'
	        ELSE 'N'
	    END
	    WHERE meeting_no = #{meetingNo}
	</update>
	
	<!-- 모임장 인지 -->
	<select id="isLeader" resultType="boolean">
	  SELECT CASE WHEN is_leader = 'Y' THEN 1 ELSE 0 END
	  FROM meeting_member
	  WHERE meeting_no = #{meetingNo}
	    AND member_no = #{memberNo}
	</select>
	
	<select id="findMeetingNoListByCrewNoAndMemberNo" resultType="long">
	  SELECT mm.meeting_no
	  FROM meeting_member mm
	  JOIN meeting m ON mm.meeting_no = m.meeting_no
	  WHERE mm.member_no = #{memberNo}
	    AND m.meeting_crew_no = #{crewNo}
	</select>

	<select id="findOthers" resultType="com.kh.demo.dto.MeetingMemberDto">
	  SELECT
	    meeting_member_no,
	    meeting_no,
	    member_no,
	    meeting_member_join_date,
	    is_leader
	  FROM meeting_member
	  WHERE meeting_no = #{meetingNo}
	    AND member_no != #{memberNo}
	  ORDER BY meeting_member_join_date ASC
	</select>


</mapper>
