<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="meeting">

	<!-- 정모 번호 시퀀스 조회 -->
	<select id="sequence" resultType="long">
		SELECT meeting_seq.NEXTVAL FROM dual
	</select>

	<!-- 정모 추가 -->
	<insert id="insert" parameterType="meetingDto">
		INSERT INTO meeting (
		meeting_no,
		meeting_crew_no,
		meeting_owner_no,
		meeting_name,
		meeting_date,
		meeting_location,
		meeting_price,
		meeting_limit
		) VALUES (
		#{meetingNo},
		#{meetingCrewNo},
		#{meetingOwnerNo},
		#{meetingName},
		#{meetingDate},
		#{meetingLocation},
		#{meetingPrice},
		#{meetingLimit}
		)
	</insert>

	<!-- 정모 수정 -->
	<update id="update" parameterType="meetingDto">
		UPDATE meeting
		SET meeting_name = #{meetingName},
		meeting_date = #{meetingDate},
		meeting_location = #{meetingLocation},
		meeting_price = #{meetingPrice},
		meeting_limit = #{meetingLimit}
		WHERE meeting_no = #{meetingNo}
	</update>

	<!-- 정모 삭제 -->
	<delete id="delete" parameterType="long">
		DELETE FROM meeting
		WHERE meeting_no = #{meetingNo}
	</delete>

	<!-- 정모 이미지 조회 -->
	<select id="findImage" resultType="long">
		SELECT attachment_no FROM meeting_image
		WHERE meeting_no = #{meetingNo}
	</select>

	<!-- 정모 이미지 연결 -->
	<insert id="connect">
		INSERT INTO meeting_image (meeting_no, attachment_no)
		VALUES (#{meetingNo}, #{attachmentNo})
	</insert>

	<!-- 특정 정모 상세 조회 -->
	<select id="selectVO" resultType="MeetingVO" parameterType="long">
		SELECT
		m.meeting_no AS meetingNo,
		m.meeting_crew_no AS meetingCrewNo,
		m.meeting_owner_no AS meetingOwnerNo,
		m.meeting_name AS meetingName,
		m.meeting_date AS meetingDate,
		m.meeting_location AS meetingLocation,
		m.meeting_price AS meetingPrice,
		m.meeting_limit AS meetingLimit,
		m.meeting_create AS meetingCreate,
		mi.attachment_no AS attachmentNo
		FROM meeting m
		LEFT JOIN meeting_image mi ON m.meeting_no = mi.meeting_no
		WHERE m.meeting_no = #{meetingNo}
	</select>

	<!-- 정모 목록 조회 특정 crewNo -->
	<select id="selectListByCrew" resultType="MeetingVO">
	    SELECT 
	        m.meeting_no AS meetingNo,
	        m.meeting_crew_no AS meetingCrewNo,
	        m.meeting_owner_no AS meetingOwnerNo,
	        m.meeting_name AS meetingName,
	        m.meeting_date AS meetingDate,
	        m.meeting_location AS meetingLocation,
	        m.meeting_price AS meetingPrice,
	        m.meeting_limit AS meetingLimit,
	        m.meeting_create AS meetingCreate,
	
	        (SELECT mi.attachment_no 
	         FROM meeting_image mi 
	         WHERE mi.meeting_no = m.meeting_no 
	         AND ROWNUM = 1) AS attachmentNo,
	
	        (SELECT COUNT(*) 
	         FROM meeting_member mm 
	         WHERE mm.meeting_no = m.meeting_no) AS memberCount
	
	    FROM meeting m
	    WHERE m.meeting_crew_no = #{crewNo}
	    	AND m.meeting_date >= systimestamp
	    ORDER BY m.meeting_date ASC
	</select>
	
	<!-- 모임장 위임 기능 -->
	<update id="updateOwner">
	    UPDATE meeting
	    SET meeting_owner_no = #{newOwnerNo}
	    WHERE meeting_no = #{meetingNo}
	</update>

	<select id="findMeetingByMemberNo" resultType="MeetingVO">
		SELECT 
	        m.meeting_no AS meetingNo,
	        m.meeting_crew_no AS meetingCrewNo,
	        m.meeting_owner_no AS meetingOwnerNo,
	        m.meeting_name AS meetingName,
	        m.meeting_date AS meetingDate,
	        m.meeting_location AS meetingLocation,
	        m.meeting_price AS meetingPrice,
	        m.meeting_limit AS meetingLimit,
	        m.meeting_create AS meetingCreate,
	
	        (SELECT mi.attachment_no 
	         FROM meeting_image mi 
	         WHERE mi.meeting_no = m.meeting_no 
	         AND ROWNUM = 1) AS attachmentNo,
	
	        (SELECT COUNT(*) 
	         FROM meeting_member mm 
	         WHERE mm.meeting_no = m.meeting_no) AS memberCount
	
	    FROM meeting m
	    where m.meeting_no in (
			select meeting_no from meeting_member
			where member_no = #{memberNo}
		)
	    ORDER BY m.meeting_date ASC
	</select>
	
</mapper>
