<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reply">

    <!-- 댓글 작성 -->
    <insert id="insert">
        insert into reply (
            reply_no, reply_writer, reply_origin, reply_content, reply_wtime
        ) values (
            reply_seq.nextval, #{replyWriter}, #{replyOrigin}, #{replyContent}, systimestamp
        )
    </insert>

    <!-- 댓글 목록 조회 (View 기반) -->
    <select id="selectListWithMemberInfo" resultType="com.kh.demo.dto.ReplyListDto">
        select * from reply_view
        where reply_origin = #{replyOrigin}
        order by reply_wtime desc
    </select>
	


	<!-- 작성 직후 댓글 조회 -->
    <select id="selectLatestByWriter" resultType="com.kh.demo.dto.ReplyListDto">
        select * from reply_view
        where reply_writer = #{replyWriter}
        and reply_origin = #{replyOrigin}
        order by reply_wtime desc
        fetch first 1 rows only
    </select>

	<!-- 댓글 수정 -->
    <update id="update">
        update reply
        set reply_content = #{replyContent},
            reply_utime = systimestamp
        where reply_no = #{replyNo}
    </update>

	<!-- 댓글 삭제 -->
    <delete id="delete">
        delete from reply
        where reply_no = #{replyNo}
    </delete>

	<!-- 댓글 수 증가/감소 -->
    <update id="updateBoardReplyUp">
        update board
        set board_reply = board_reply + 1
        where board_no = #{replyOrigin}
    </update>

    <update id="updateBoardReplyDown">
        update board
        set board_reply = board_reply - 1
        where board_no = #{replyOrigin}
    </update>

</mapper>


